.Header {
    width: 100%;
    min-height: 130px;
    margin-bottom: 10px;
    .LogoSection {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        img {
            height: 150px;
        }
        svg {
            width: 15em;
            height: auto;
            @media screen and (max-width: 450px) {
                width: 50%;
            }
        }
        span {
            font-size: 2.5em;
            color: white;
        }
    }
    .PagesList {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        list-style: none;
        flex-wrap: wrap;
        background: darkkhaki;
        color: white;
        font-weight: bold;
        font-size: 1.1em;
        border-radius: 8px;
        li {
            flex: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
        }
    }
    .ActivePage {
        color: darkolivegreen
    }
}