.NextBtn {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background: rgb(61, 60, 50);
    font-size: 2.0em;
    color: white;
    &:hover {
        cursor: pointer;
    }
}

.NextBtnDisabled {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background: rgb(61, 60, 50);
    opacity: 0.7;
    font-size: 2.0em;
    color: white;
    &:hover {
        cursor: not-allowed;
    }
}